<!DOCTYPE html>
<html lang="en">

<head>
    <title>C2M Tester</title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
</head>

<body>
    <h1>Populate your db from swagger</h1>
    <h3><a href="/swagger.html">Swagger Link</a></h3>
</body>

</html>